<ion-header class="close-head">
  <div>
    <ion-icon name="search" class="myicon" style="color:#fff;"></ion-icon>
    <ion-input></ion-input>
  </div>
  <div>
    <ion-icon name="cart" style="color:#fff"></ion-icon>
  </div>
</ion-header>
<ion-content>
  <ul class="nav">
    <li><img src="https://cimgs1.fenqile.com/ibanner2/M00/06/22/j6gHAFzZO1uAbGacAAAeFX9raJg486_96x96.png"
        alt=""><span>新人红包</span></li>
    <li><img src="https://cimgs1.fenqile.com/ibanner2/M00/37/AC/jqgHAFzZO4iATrVWAAAa0vaf8i4695_96x96.png"
        alt=""><span>旅游出行</span></li>
    <li><img src="https://cimgs1.fenqile.com/ibanner2/M00/06/22/j6gHAFzZO56APwLdAAAfPoVwssE575_96x96.png"
        alt=""><span>乐花借钱</span></li>
    <li><img src="https://cimgs1.fenqile.com/ibanner2/M00/38/81/jagHAFzZO7OAT46TAAAbhXydZcg009_96x96.png"
        alt=""><span>乐花还债</span></li>
    <li><img src="https://cimgs1.fenqile.com/ibanner2/M00/37/AC/jqgHAFzZO86ASKKyAAAgWKPopbQ212_96x96.png"
        alt=""><span>娱乐充值</span></li>
  </ul>
  <img src="https://cimgs1.fenqile.com/ibanner2/M00/06/23/j6gHAFzZUl2AINjCAAGpa_46HUU456_750x520.jpg" alt=""
    class="index-img">
  <div class="jod">
    <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/37/B7/jqgHAFzegBKAUUBXAACL7pUssDY344_375x240.png"></ion-img>
    <!--
  -->
    <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/38/8C/jagHAFzegDWAGnpDAABKuiMFfFA367_375x240.png"></ion-img>
    <!--
-->
    <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/38/8C/jagHAFzegEqAeuXVAABqlzprnYw210_375x240.png"></ion-img>
  </div>
  <div class="jod">
    <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/38/86/jagHAFza3NSAcg_MAABF6VTr0GE871_375x240.jpg"></ion-img>
    <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/06/27/j6gHAFza3PCALQcHAABCjiglgPk714_375x240.jpg"></ion-img>
    <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/06/27/j6gHAFza3QSATTLqAABUHFr4tJ8129_375x240.jpg"></ion-img>
  </div>
  <ul class="gridf">
    <li>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/37/B3/jqgHAFzb3x-AENiAAACHzkRlAFM135_375x240.jpg"></ion-img>
    </li>
    <li>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/38/88/jagHAFzb4OuAItNHAACJFql71ZM268_375x240.jpg"></ion-img>
    </li>
    <li>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/38/88/jagHAFzb4UiAMnaKAACg7mdD5qY791_375x240.jpg"></ion-img>
    </li>
    <li>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/37/B3/jqgHAFzb4b6ATqUcAACRqKamVeA910_375x240.jpg"></ion-img>
    </li>
    <li>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/37/B6/jqgHAFzdKmaAS2w2AACFkkGz2q0407_375x240.jpg"></ion-img>
    </li>
    <li>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/37/B3/jqgHAFzb4e6AfXpMAABxSCOkqow065_375x240.jpg"></ion-img>
    </li>
    <li>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/06/29/j6gHAFzb4hCAeuIQAAB_n3qrStw079_375x240.jpg"></ion-img>
    </li>
    <li>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/38/88/jagHAFzb4i6AMTLnAACVJVFkhCI253_375x240.jpg"></ion-img>
    </li>
    <li>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/37/B3/jqgHAFzb4kyAPgsSAACKXtsB3DU797_375x240.jpg"></ion-img>
    </li>
    <li>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/06/29/j6gHAFzb4naALLW_AACKHVM96eE544_375x240.jpg"></ion-img>
    </li>
    <li>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/37/B3/jqgHAFzb4pqAOop6AACV-j_bsuk145_375x240.jpg"></ion-img>
    </li>
    <li>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/38/88/jagHAFzb4sGAGkvYAACkuBTXKBc305_375x240.jpg"></ion-img>
    </li>
  </ul>
  <ion-slides loop pager class="slides-l" autoplay="3000">
    <ion-slide>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/37/A5/jqgHAFzTycyADN4SAAK25X3Kz2E755_750x320.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/37/78/jqgHAFytq9CAZswgAADYBmc79Ks793_750x320.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/06/13/j6gHAFzO7aCAQ4eEAANeVM4repw745_750x320.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/38/7C/jagHAFzT-ryANgq7AAG31ndJ7BI499_750x320.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/37/B6/jqgHAFzdJVyAJdlcAAL1IbHQx1w435_750x320.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/06/10/j6gHAFzH_SiARLTcAADVjegNtHY508_750x320.jpg"></ion-img>
    </ion-slide>
  </ion-slides>
  <ul class="four">
    <li>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/38/8A/jagHAFzdHaCADMf3AAA8pU1HCwo051_344x144.png"></ion-img>
    </li>
    <li>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/06/2B/j6gHAFzdKrqAd2LeAAAylCteAoI841_344x144.jpg"></ion-img>
    </li>
    <li>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/38/8B/jagHAFzeZtWAbxlaAABW5Utk9w0693_344x144.png"></ion-img>
    </li>
    <li>
      <ion-img src="https://cimgs1.fenqile.com/ibanner2/M00/37/B5/jqgHAFzdB9iAcygpAAAv7dAMiyI865_344x144.png"></ion-img>
    </li>
  </ul>
  <ion-grid>
    <ion-row class="amo">
      <ion-col>乐疯抢</ion-col>
      <ion-col class="time">距离本场结束:<span>{{h}}</span>:<span>{{m}}</span>:<span>{{s}}</span> </ion-col>
    </ion-row>
    <ion-row class="amo">
      <ul>
        <li *ngFor="let p of scroll;let i=idx"><a href="">
            <ion-img [src]="p.src" [class.active]="p.more"></ion-img>
            <p><span [class.active]="p.more">¥</span>{{p.price}}</p><span><span
                [class.active]="p.more">¥</span>{{p.offer}}</span>
            <div></div>
          </a></li>
      </ul>
    </ion-row>
  </ion-grid>

</ion-content>