::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}
*{
    margin:0;
    padding:0;
    text-decoration:none;
    box-sizing:border-box;
}
#box{
    box-shadow:none;
}
.close-head {
    box-shadow: none;
    height: 44px;
    padding: 4px 10px;
    border: 0;
    display: flex;
    align-items: center;
    background-color:rgb(245, 247, 246);
    box-sizing: border-box;
}
.close-head::after{
    box-shadow:none;
    display:none;
}
.close-head>span {
    width: 100%;
    height: 100%;
    color: #394050;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-head>p {
    position: absolute;
    right: 3%;
    top: 24%;
}
.close-head>p ion-img {
    width: 25px;
    height: 20px;
}
.balance>div{
    width:100%;
}
.balance>div:first-child{
    height:232px;
    padding: 0 10px;
    background-color:rgb(245, 247, 246);
}
.balance>div:first-child>div{
    width:100%;
    height:100%;
    background-image:url(https://cres1.fenqile.cn/web_vip_m/img/lecard/lc_bg_v2--f9e2947091.png);
    background-repeat:round;
    
}
.balance>div:first-child>div>p{
    width:100%;
    height:50%;
}
.balance>div:first-child>div>p:first-child{
    display:flex;
}
.balance>div:first-child>div>p:first-child>span{
    width:50%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.balance>div>div:first-child>p:last-child,.balance>div:first-child>div>p:first-child>span{
    display:flex;
    flex-direction:column;
}
.balance>div:first-child>div>p:first-child>span>p{
    color:white;
}
.balance>div:first-child>div>p:first-child>span>p:first-child{
    color:#e5f2ff;
    width:100%;
    padding-left:15%;
    text-align:left;
}
.balance>div:first-child>div>p:first-child>span>p:last-child{
    font-size:30px;
}
.balance>div>div:first-child>p:last-child{
    display:flex;
    justify-content:center;
}
.balance>div>div:first-child>p:last-child>span{
    color:#fff;
    margin:4px 0;
}
.balance>div>div:first-child>p:last-child>span:first-child{
    margin-left:4%;
    display:flex;
    align-items:center;
}
.balance>div>div:first-child>p:last-child>span:last-child{
    background-color:#a2d1ff;
    position:relative;
    width:92%;
    border-radius:2px;
    padding:7px 0;
    margin-left:4%;
}
.balance>div>div:first-child>p:last-child>span:last-child>.fir{
    margin:0 4%;
}
.balance>div>div:first-child>p:last-child>span:last-child>.la{
    position:absolute;
    right:2%;
    top:26%;
}
.balance>div:last-child{
    height:150px;
}










