<ion-header class="close-head" style="box-shadow:none;">
  <span>乐卡</span>
  <p>
    <ion-img src="https://cimg1.fenqile.com/ibanner2/M00/37/87/jqgHAFy4XVGAKI3gAAAIELk7QP0846.png"></ion-img>
  </p>
</ion-header>
<ion-content style="box-shadow:none;">
  <div class="balance">
    <div>
      <div>
        <p><span>
            <p>购物可用余额</p>
            <p>22,000.00</p>
          </span><span>
            <p>借款可用余额</p>
            <p>19,000.00</p>
          </span></p>
        <p>
          <span>我要提额 <ion-icon name="arrow-forward"></ion-icon></span>
          <span><ion-icon name="card" class="fir"></ion-icon>升级乐黑卡每年省3625元<ion-icon name="arrow-forward" class="la"></ion-icon></span>
        </p>
      </div>
    </div>
    <div></div>
  </div>
</ion-content>