<ion-header class="close-head">
  <span>乐卡</span>
  <p>
    <ion-img src="https://cimg1.fenqile.com/ibanner2/M00/37/87/jqgHAFy4XVGAKI3gAAAIELk7QP0846.png"></ion-img>
  </p>
</ion-header>
<ion-content>
  <div class="balance">
    <div>
      <div>
        <p><span>
            <p>购物可用余额</p>
            <p>22,000.00</p>
          </span><span>
            <p>借款可用余额</p>
            <p>19,000.00</p>
          </span></p>
        <p>
          <span>我要提额 <ion-icon name="arrow-forward"></ion-icon></span>
          <span>
            <ion-icon name="card" class="fir"></ion-icon>升级乐黑卡每年省3625元<ion-icon name="arrow-forward" class="la">
            </ion-icon>
          </span>
        </p>
      </div>
    </div>
    <div>
      <p><span>5月代还账目</span><span>￥0</span></p>
      <p>每月18日前还款<ion-icon name="arrow-forward"></ion-icon>
      </p>
    </div>
  </div>
  <hr class="g">
  <div class="lapp">
    <div>乐卡应用</div>
    <div>
      <div *ngFor="let item of lapp">
        <ion-img [src]="item.src" [class.active]="item.act"></ion-img>
        <p [class.font]="item.font">{{item.title}}</p><span [class.font]="item.font">{{item.pro}}</span>
      </div>
    </div>
    <div>
      <ion-img src="https://cimg1.fenqile.com/ibanner2/M00/31/DD/jagHAFrr-tCAYmNiAAABWrWCpLM201.png"></ion-img>
      <p>乐借</p><span>持牌金融机构放款，额外可借1-20万</span>
    </div>
  </div>
  <hr class="g">
  <div class="qu">
    <div>权益卡</div>
    <div>
      <p>
        <ion-img src="https://cimg1.fenqile.com/ibanner2/M00/06/06/j6gHAFzANryAYEBLAAFp_7oaG3g371.png"></ion-img>
      </p>
      <p><span>观影乐卡</span>
        <span>每月3折充 <ion-img src="https://cimg1.fenqile.com/ibanner2/M00/37/90/jqgHAFzANqqAAFPXAAAwgPixYgk384.png"></ion-img></span>
        <span>每月免费领20元猫眼电影券</span></p>
      <p><ion-button size="small">去开通</ion-button></p>
    </div>
  </div>
  <div class="yao">
    <ion-img src="https://cimg1.fenqile.com/ibanner2/M00/32/70/jqgHAFv7tZ6ADhT2AAFzjKe6oYA558.png"></ion-img>
  </div>
  <div class="gol">
    <div><ion-img src="https://cimg1.fenqile.com/ibanner2/M00/27/F1/jagHAFq83huAXdmbAAC4th4EJaU559.jpg"></ion-img></div>
    <div><ion-img src="//cimg1.fenqile.com/ibanner2/M00/38/86/jagHAFzbgs2AIAR6AAMGdLMz-MQ379.png"></ion-img></div>
    <div><ion-img src="https://cimg1.fenqile.com/ibanner2/M00/2C/47/jqgHAFrLIOmAJlIGAAJHEOl9rE4694.png"></ion-img></div>
    </div>
</ion-content>