::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}
*{
    margin:0;
    padding:0;
    text-decoration:none;
    box-sizing:border-box;
}
#box{
    box-shadow:none;
}
.close-head {
    box-shadow: none;
    height: 44px;
    padding: 4px 10px;
    border: 0;
    display: flex;
    align-items: center;
    background-color:rgb(245, 247, 246);
    box-sizing: border-box;
}
.close-head::after{
    box-shadow:none;
    display:none;
}
.close-head>span {
    width: 100%;
    height: 100%;
    color: #394050;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-head>p {
    position: absolute;
    right: 3%;
    top: 24%;
}
.close-head>p ion-img {
    width: 25px;
    height: 20px;
}
.balance>div{
    width:100%;
}
.balance>div:first-child{
    height:232px;
    padding: 0 10px;
    background-color:rgb(245, 247, 246);
}
.balance>div:first-child>div{
    width:100%;
    height:100%;
    background-image:url(https://cres1.fenqile.cn/web_vip_m/img/lecard/lc_bg_v2--f9e2947091.png);
    background-repeat:round;
    
}
.balance>div:first-child>div>p{
    width:100%;
    height:50%;
}
.balance>div:first-child>div>p:first-child{
    display:flex;
}
.balance>div:first-child>div>p:first-child>span{
    width:50%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.balance>div>div:first-child>p:last-child,.balance>div:first-child>div>p:first-child>span{
    display:flex;
    flex-direction:column;
}
.balance>div:first-child>div>p:first-child>span>p{
    color:white;
}
.balance>div:first-child>div>p:first-child>span>p:first-child{
    color:#e5f2ff;
    width:100%;
    padding-left:15%;
    text-align:left;
}
.balance>div:first-child>div>p:first-child>span>p:last-child{
    font-size:30px;
}
.balance>div>div:first-child>p:last-child{
    display:flex;
    justify-content:center;
}
.balance>div>div:first-child>p:last-child>span{
    color:#fff;
    margin:4px 0;
}
.balance>div>div:first-child>p:last-child>span:first-child{
    margin-left:4%;
    display:flex;
    align-items:center;
}
.balance>div>div:first-child>p:last-child>span:last-child{
    background-color:#a2d1ff;
    position:relative;
    width:92%;
    border-radius:2px;
    padding:7px 0;
    margin-left:4%;
}
.balance>div>div:first-child>p:last-child>span:last-child>.fir{
    margin:0 4%;
}
.balance>div>div:first-child>p:last-child>span:last-child>.la{
    position:absolute;
    right:2%;
    top:26%;
}
.balance>div:last-child{
    height:88px;
    display:flex;
}
.balance>div:last-child>p{
    width:50%;
    height:100%;
    display:flex;
}
.balance>div:last-child>p:first-child{
    flex-direction:column;
    justify-content:center;
    align-items:start;
}
.balance>div:last-child>p:first-child>span{
    margin-left:20px;
}
.balance>div:last-child>p:first-child>span:first-child{
    font-size:14px;
    color:rgb(127, 133, 148);
}
.balance>div:last-child>p:first-child>span:last-child{
    font-size:18px;
    font-weight:bold;
}
.balance>div:last-child>p:last-child{
    display:flex;
    font-size:14px;
    color:rgb(127, 133, 148);
    justify-content:center;
    align-items:center;
}
.balance>div:last-child>p:last-child>ion-icon{
    width:18px;
    height:18px;
}
.g{
    width:100%;
    height:12px;
    background-color:#f5f7f6;
}
.lapp,.lapp>div:first-child,.lapp>div:nth-child(2),.lapp>div:last-child{
    width:100%;
}
.lapp>div:first-child,.lapp>div:last-child,.lapp>div:nth-child(2){
    padding:0 20px;
}
.lapp>div:first-child,.qu>div:first-child{
    height:52px;
    font-size:14px;
    color:rgb(117, 124, 142);
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.lapp>div:nth-child(2){
    height:294px;
    display:flex;
    flex-wrap:wrap;
    align-content:flex-start;
}
.lapp>div:nth-child(2)>div{
    width:33.33%;
    height:146px;
    border-bottom:1px solid #f5f7f6;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.lapp>div:nth-child(2)>div>.active{
    display:none;
}
.lapp>div:nth-child(2)>div>.font{
    font-size:13px;
    color:rgb(185, 189, 198);
    margin:0;
}
.lapp>div:nth-child(2)>div:nth-child(1),.lapp>div:nth-child(2)>div:nth-child(2),.lapp>div:nth-child(2)>div:nth-child(3){
    border-top:1px solid #f5f7f6;
}
.lapp>div:nth-child(2)>div:nth-child(1),.lapp>div:nth-child(2)>div:nth-child(2),.lapp>div:nth-child(2)>div:nth-child(4),.lapp>div:nth-child(2)>div:nth-child(5){
    border-right:1px solid #f5f7f6;
}
.lapp>div:nth-child(2)>div>ion-img{
    width:34px;
    height:34px;
    margin-bottom:8px;
}
.lapp>div:nth-child(2)>div>p{
    color:rgb(57, 64, 80);
    font-size:16px;
    margin-bottom:16px;
}
.lapp>div:nth-child(2)>div>span{
    width:46%;
    font-size:13px;
    color:rgb(117, 124, 142);
}
.lapp>div:last-child{
    height:56px;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}
.lapp>div:last-child>ion-img{
    width:22px;
    height:22px;
    margin-right:10px;
}
.lapp>div:last-child>p{
    margin-right:4%;
    color:rgb(37, 50, 78);
    font-size:16px;
}
.lapp>div:last-child>span{
    color:rgb(117, 124, 142);
    font-size:15px;
}
.qu,.qu>div{
    width:100%;
}
.qu{
    height:180px;
}
.qu>div:first-child{
    margin-left:20px;
    border-bottom:1px solid #f5f7f6;
}
.qu>div:last-child{
    height:128px;
    padding:24px 20px;
    display:flex;
}
.qu>div:last-child>p:first-child,.qu>div:last-child>p:last-child{
    display:flex;
    align-items:center;
    justify-content:center;
}
.qu>div:last-child>p:first-child{
    width:30%;
}
.qu>div:last-child>p:nth-child(2){
    width:50%;
    padding-left:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.qu>div:last-child>p:nth-child(2)>span:first-child{
    color:rgb(60, 63, 86);
    font-size:17px;
}
.qu>div:last-child>p:nth-child(2)>span:last-child,.qu>div:last-child>p:nth-child(2)>span:nth-child(2){
    font-size:13px;
    color:rgb(127, 133, 148)
}
.qu>div:last-child>p:nth-child(2)>span:nth-child(2){
    display:flex;
    align-items:center;
}
.qu>div:last-child>p:nth-child(2)>span:nth-child(2)>ion-img{
    width:75px;
    height:15px;
}
.qu>div:last-child>p:last-child{
    width:20%;
}
.yao{
    width:100%;
    padding-top:10px;
    background-color:#f5f7f6;
}
.gol,.gol>div{
    width:100%;
}
.gol>div{
    padding-top:10px;
    background-color:#f5f7f6;
}





